html,
body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, Lucida Grande, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Ubuntu, Oxygen, Roboto,  -apple-system, BlinkMacSystemFont;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
